POSTGRES_USER=roaddt
POSTGRES_PASSWORD=changeme
POSTGRES_DB=roaddt
POSTGRES_PORT=5432

DATABASE_URL=postgresql://roaddt:changeme@localhost:5432/roaddt

FRAME_OUTPUT_DIR=./data/frames
CROP_OUTPUT_DIR=./data/crops

BLUR_INPUT_DIR=./data/incoming
BLUR_OUTPUT_DIR=./data/anonymized
